
table{
    
    font-family : cursive;
    border-collapse: collapse;
    border-width   : 3px;
    border-style   : solid;
    border-color   : black;
}


th{
    font-weight: 800;
    background-color: yellow;
    color           : darkcyan;
}

td{
      padding-bottom:5px;
      padding-top: 5px; 
      float: inherit;
     background-color: yellow;
}